body {
  margin: 0;
}

.container {
  max-width: 960px;
  margin-right: 10%;
  margin-left: 15%;
}

header {
  width: 100%;
  margin-bottom: 1em;
}

header .container {
  border-bottom: ridge;
}

.logo {
  width: 30%;
}

.logo img {
  width: 150px;
  height: 130px;
}

.name {
  width: 70%;

}

.center_image {
  width: 100%;
}

.center_image img {
  max-width: 100%;
}

.work_title {
  color: #7d97ad;
}

.image {
  text-align: center;
}

.image img {
  max-width: 100%;
}

.works {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

@media screen and (min-width: 900px) {
  header .container {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
  }

  .logo {
    width: 30%;
    text-align: left;
  }

  .name {
  	text-align: right;
  }

  .images {
    display: flex;
    justify-content: space-between;
  }

  .images .image:nth-child(2) {
    padding-right: 20px;
    padding-left: 20px;
  }
}
